:root {
    /* Colors */
        /* Primary */
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);

        /* Neutral */
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);

    /* Typography */
--FontSize: .9063rem;
--Border-r: .625rem
}
/* Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}
body {
    min-height: 100vh;
    background-color: var(--Very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.5rem
}
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* Start container */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    border-radius: 5px
}
.box:first-of-type {
    background-color: var(--Bright-orange);
    border-top-right-radius: var(--Border-r);
    border-top-left-radius: var(--Border-r);
    a {
        color: var(--Bright-orange)
    }
}
.box:nth-child(3) {
    background-color: var(--Dark-cyan);
    a {
        color: var(--Dark-cyan)   
    }
}
.box:last-of-type {
    background-color: var(--Very-dark-cyan);
    border-bottom-right-radius: var(--Border-r);
    border-bottom-left-radius: var(--Border-r);
    a {
        color: var(--Very-dark-cyan)
    }
}
.box .text {
    margin-bottom: 2rem
}
.text h2 {
    font-family: "Big Shoulders Display", serif;
    color: var(--Very-light-gray);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 1.5rem auto
}
.text p,
.box a {
    font-family: "Lexend Deca", serif;
    font-size: var(--FontSize);
    font-weight: 400;
    line-height: 1.6
}
.text p {
    color: var(--Transparent-white);
}
.box a {
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--Very-light-gray);
    padding: .75rem 2rem;
    border-radius: 2rem;
    border: 3px solid var(--Very-light-gray);
    transition: .1s
}
.box a:hover {
    background-color: initial;
    border: 3px solid var(--Very-light-gray);
    color: var(--Very-light-gray)
}
@media (min-width: 60rem) {
    .box:first-of-type {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--Border-r)
    }
    .box:nth-child(3) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }
    .box:last-of-type {
        border-top-right-radius: var(--Border-r);
        border-bottom-right-radius: var(--Border-r);
        border-bottom-left-radius: 0;
    }
}
.box {
    padding: 3.5rem 2.5rem;
}
@media (min-width: 40rem) {
    .box {
        position: relative;
        height: 31.25rem
    }
    .box a {
        position: absolute;
        bottom: 3.125rem
    }
}
